.card {
  position: relative;
  background-color: white;
  width: 600px;
  max-width: 85vh;
  height: 50vh;
  padding: 20px;
  box-shadow: 0 18px 53px 0 rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  position: absolute;
  color: white;
  bottom: 0;
  margin: 10px;
}

.tinderCards__cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.swipe {
  position: absolute;
}
